.button2{
    color: white; 
    
    
    position: relative;
    width: auto;
    height: 36px;
    left: 780px;
    top: 20px;
    margin-top: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    line-height: 36px;
    


     transition: $animate;
        &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: darken(orange,5%);
    }
    &.hover-3 {
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
  }