
{% extends 'home.html' %}
{% block content %}






<form class="form-signin" method="POST" action="{% url 'create' %}"  enctype="multipart/form-data">
  <img class="mb-4" src="https://cdn.worldvectorlogo.com/logos/product-hunt.svg" alt="" style="text-align: center; left: 100px;" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Enter Details of your product</h1>
  {% if error %}
<h4  style="color: red; text-align: center;" >{{error}}</h4>
<br>
{% endif %}
  {% csrf_token %}
  <label class="sr-only">Title</label>
  <input type="text" class="form-control" name="title" placeholder="Title" required autofocus>
        <br>
  <label  class="sr-only">Body</label>
  <input type="textbox" name="body" class="form-control" placeholder="Details of your product" required>
<br>



  <label  class="sr-only">URL</label>
  <input type="text" name="url" class="form-control" placeholder="URL" notrequired>
<br>


  <label  class="sr-only">ICON:
  </label>
  <input type="file" name="icon" class="form-control">


  <label  class="sr-only">Image:
</label>
<input type="file" name="image" class="form-control">

  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>

{% endblock %}



