{% extends 'home.html' %}

{% block content %}
<p style="font-family:Helvetica, sans-serif; font-size:80px; font-weight: 700px; text-align:center; color: gold; padding-bottom: 0px; margin-bottom: 0px;">Features:</p>
    
      <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">Check if you are safe or not</p>
      <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">Create you own chat room<span style="color: yellow;">!!!!!NEW</span></p>

    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">Live worlwide Corona count</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">Live district count</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">Live Statewise Count</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">Login and Signup with us</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: snow;">upload ur product here, and we will feature it</p>
  

  {% endblock %}