{% extends 'home.html' %}

{% block content %}
<p style="font-family:Helvetica, sans-serif; font-size:80px; font-weight: 700px; text-align:center; color: slateblue; padding-bottom: 0px; margin-bottom: 0px;">Features:</p>
    
      <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;columns: #020202;">Check if you are safe or not</p>
      <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: #020202;">Create you own chat room</p>

    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: #020202;">Live worlwide Corona count</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: #020202;">Live district count</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: #020202;">Live Statewise Count</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: #020202;">Login and Signup with us</p>
    <p style="text-align:center;font-size: 30px; font-family:Helvetica, sans-serif; font-weight: 400;color: #020202;">upload ur product here, and we will feature it</p>
  

  {% endblock %}