{% extends 'home.html' %}

{% block content %}

<p style="text-align: center; font-family: Helvetica, sans-serif;font-size: 60px;">STATE:{{empty.response.name}}</p>
<p style="text-align: center;font-family: Helvetica, sans-serif;font-size: 40px;">Confirmed cases:{{empty.response.confirmed}}</p>
 <p style="text-align: center;font-family: Helvetica, sans-serif; color: green; font-size: 25px;">Total recovered cases: {{empty.response.recovered}}</p> 
<p style="text-align: center;font-family: Helvetica, sans-serif;color: red; font-size: 25px;">Total Deaths:{{empty.response.deaths}}</p>
{{country}}
{% endblock %}
