{% extends 'home.html' %}

{% block content %}



    <div id="cover">
        <form method="get" action="{% url 'count' %}">
          <div class="tb">
            <div class="td"><input type="text" name="fulltext" placeholder="Search"></div>
            <div class="td" id="s-cover">
              <button type="submit" >
                <div id="s-circle"></div>
                <span></span>
              </button>
            </div>
          </div>
        </form>
      </div>
  
{% endblock %}